<form [formGroup]="filterForm" (ngSubmit)="searchCats()">
    <mat-form-field>
        <mat-label>Quantity</mat-label>
        <input matInput formControlName="resultsQuantity" type="number" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Breed</mat-label>
        <mat-select formControlName="selectedBreed">
            <mat-option value="all">All</mat-option>
            <mat-option *ngFor="let breed of breeds" [value]="breed">{{ breed }}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-raised-button type="submit">Search</button>
</form>
